.venv
*.db
*.duckdb
dbt_packages/
target/
project_data/**/*.csv
logs/
dbt_internal_packages/
.claude/
.cursor/mcp.json
*.html
*.pyc
__pycache__/

project_data/shapes/
*.shp
*.zip
*.dbf
*.shx
*.prj
*.shp.iso.xml
*.shp.ea.iso.xml
